.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
service-account.json
sveltekit-course-8895f-firebase-adminsdk-quw5d-15750ee257.json